<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>


      <div class="body">
        <ng-container *ngIf="info==null">
          <h2>Loading clan info. This could take a while if your clan is large...</h2>
        </ng-container>

        <ng-container *ngIf="info!=null">
          <h1>{{info.name}} Leaderboard </h1>
          <mat-form-field class="searchField">
            <mat-select [(ngModel)]="selectedMode" (change)="load()" placeholder="Mode">
              <mat-option *ngFor="let p of activityModes" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="list!=null && list.length>0">
            <mat-form-field class="searchField board">
              <mat-select [(ngModel)]="selectedLeaderList" placeholder="Board">
                <mat-option *ngFor="let l of list" [value]="l">
                  {{ l.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ng-container *ngIf="selectedLeaderList!=null">

              <table class="tidy-table">
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>{{selectedMode.name}}</th>
                    <th>Player</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of selectedLeaderList.entries">
                    <td>{{entry.rank}}</td>
                    <td>{{entry.value}}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="loadPlayer(entry)">{{entry.destinyUserInfo.displayName}} - {{entry.characterClass}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </ng-container>
        </ng-container>

      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>
  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>