<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <br/>
        <div class="searchRow">
          <mat-form-field class="searchField searchPlatform">
            <mat-select [(ngModel)]="selectedPlatform" placeholder="Platform" (change)="onPlatformChange()">
              <mat-option *ngFor="let p of platforms" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="searchField searchGt">
            <input matInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()" (change)="onGtChange()">
          </mat-form-field>
          <button mat-mini-fab color="primary searchField" (click)="routeSearch()" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <ng-container *ngIf="player==null && !loading">
          <h4>Player not found on {{selectedPlatform.desc}}, try another or search?</h4>
          <div class="button-row">
            <ng-container *ngFor="let plat of platforms">
              <button *ngIf="plat.type!=selectedPlatform.type" mat-raised-button color="accent" (click)="router.navigate([plat.type, gamerTag, selectedTab])">{{plat.desc}}</button>
            </ng-container>
            <button mat-raised-button color="primary" (click)="router.navigate(['search', gamerTag])">Search Bungie Names</button>
          </div>
          <br>
          <br>
          <br>
        </ng-container>

        <ng-container *ngIf="player!=null">
          <h4>{{player.profile.userInfo.displayName}} -
            <span *ngIf="player.superprivate">[hidden by privacy settings]</span>
            <span *ngIf="player.currentActivity==null && !player.superprivate">
              Last played: {{today| amDifference:player.profile.dateLastPlayed | amDuration:'ms'}} ago
            </span>
            <span *ngIf="player.currentActivity!=null">
              <mark>Playing now! {{player.currentActivity.type}} - {{player.currentActivity.name}} | Started {{today| amDifference:player.currentActivity.dateActivityStarted|
                amDuration:'ms'}} ago</mark>
            </span>
          </h4>

          <ng-container *ngIf="player!=null && player.rankups!=null && player.rankups.length>0">

            <div class="mobile-header hidden-md-up">Tokens to rank up with:</div>
            <div class="rankupRow">
              <span class="rankupContainer" *ngFor="let ru of player.rankups">
                <a href="https://vendorengrams.xyz" target="_blank" rel="noopener" *ngIf="ru.xyz300" class="rankup warn-bg-text" matTooltip="Vendor has 330LL engrams. See vendorengrams.xyz for more info!">
                  {{ru.name}}*
                </a>
                <span *ngIf="!ru.xyz300" class="rankup accent-bg-text">
                  {{ru.name}}
                </span>
              </span>
            </div>
          </ng-container>

          <ng-container *ngIf="player!=null && player.hasWellRested && player.characters!=null && player.characters.length>0">

            <div class="mobile-header hidden-md-up">Well-Rested (3x Bright Engrams)</div>
            <div class="rankupRow hidden-md-up">

              <span class="hidden-sm-down">Well-Rested (accelerated XP towards bright engrams):</span>

              <span class="rankupContainer" *ngFor="let char of player.characters">
                <span *ngIf="char.wellRested" class="rankup primary-bg-text">
                  {{char.className}} - {{char.light}}
                </span>
              </span>
            </div>
          </ng-container>
          <div class="button-row">
            <a mat-button *ngIf="player.profile.userInfo.membershipType==1" target="_blank" rel="noopener" [href]="'https://account.xbox.com/Messages?gamerTag='+player.profile.userInfo.displayName">
              <mat-icon>message</mat-icon>
              <span class="hidden-sm-down">Message on XBL</span>
            </a>
            <a mat-button (click)="historyPlayer(player)">
              <mat-icon>history</mat-icon>
              <span class="hidden-sm-down">Activity History</span>
            </a>
            <a mat-button [href]="getTrialsLink(player)" rel="noopener" target="_blank">
              <mat-icon>remove_red_eye</mat-icon>
              <span class="hidden-sm-down">Trials.Report</span>
            </a>
          </div>
        </ng-container>

        <mat-tab-group #maintabs (selectChange)='changeTab($event)'>
          <mat-tab label="Checklist">
            <ng-container *ngIf="player!=null">

              <div *ngIf="player.milestoneList.length==0">
                <br>
                <h1>Privacy</h1>
                <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
              </div>

              <table class="responsive-table" *ngIf="player.milestoneList.length>0">
                <thead>
                  <tr>
                    <th scope="col">Actvity</th>
                    <th scope="col" *ngFor="let char of player.characters">
                      {{char.className}} - {{char.light}}
                      <span *ngIf="char.wellRested" matTooltip="Well-Rested: Increased XP for Bright Engrams">
                        <i class="warn-text fa fa-2x fa fa-bed"></i>
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mileStoneName of player.milestoneList">
                    <td class="lead" [matTooltip]="mileStoneName.desc">
                      {{mileStoneName.name}}
                      <span class="caption">{{mileStoneName.type}}</span>
                    </td>
                    <td [attr.data-label]="char.className+' - '+char.light" *ngFor="let char of player.characters">
                      <span class="check">
                        <ng-container *ngIf="char.milestones[mileStoneName.key]!=null">

                          <div>
                            <ng-container *ngIf="char.milestones[mileStoneName.key].complete==true">
                              <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>

                              <div *ngIf="mileStoneName.hasPartial==true" class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0':'1.0-0'}}</div>
                            </ng-container>
                            <ng-container *ngIf="char.milestones[mileStoneName.key].complete==false && char.milestones[mileStoneName.key].pct==0">
                              <i class="fa fa-square-o"></i>
                              <div *ngIf="mileStoneName.hasPartial==true" class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                            </ng-container>
                            <ng-container *ngIf="char.milestones[mileStoneName.key].pct>0 && char.milestones[mileStoneName.key].pct<1">
                              <i [matTooltip]="char.milestones[mileStoneName.key].info" class="accent-text fa fa-minus-square-o"></i>
                              <div class="percent">{{char.milestones[mileStoneName.key].pct|percent:'1.0-0'}}</div>
                            </ng-container>
                          </div>
                          <div class="lifetime" *ngIf="mileStoneName.key==2171429505 && char.aggHistory!=null">
                            <div>
                              <b>{{char.aggHistory.nf}} lifetime</b>
                              <ng-container *ngIf="char.aggHistory.nfFastestMs!=null">
                                | {{char.aggHistory.nfFastestMs| amnsTiming:'ms'}}</ng-container>
                            </div>
                            <div>
                              <b>{{char.aggHistory.hmNf}} lifetime</b>
                              <ng-container *ngIf="char.aggHistory.hmNfFastestMs!=null">
                                | {{char.aggHistory.hmNfFastestMs| amnsTiming:'ms'}}</ng-container>
                              <span class="trophy">
                                <i class="trophy fa fa-trophy" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <div class="lifetime" *ngIf="char.milestones[mileStoneName.key].suppInfo!=null">
                            {{char.milestones[mileStoneName.key].suppInfo}}
                          </div>

                          <div class="lifetime" *ngIf="mileStoneName.key==3660836525 && char.aggHistory!=null">
                            <div>
                              <b>{{char.aggHistory.raid}} lifetime</b>
                              <ng-container *ngIf="char.aggHistory.raidFastestMs!=null">
                                | {{char.aggHistory.raidFastestMs| amnsTiming:'ms'}}
                              </ng-container>
                            </div>
                            <div>
                              <b>{{char.aggHistory.hmRaid}} lifetime</b>
                              <ng-container *ngIf="char.aggHistory.hmRaidFastestMs!=null">
                                | {{char.aggHistory.hmRaidFastestMs| amnsTiming:'ms'}}
                              </ng-container>
                              <span class="trophy">
                                <i class="trophy fa fa-trophy" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <div class="lifetime" *ngIf="mileStoneName.key==1234 && char.aggHistory!=null">
                            <div>
                              <b>{{char.aggHistory.eater}} lifetime</b>
                              <ng-container *ngIf="char.aggHistory.eaterFastestMs!=null">
                                  | {{char.aggHistory.eaterFastestMs| amnsTiming:'ms'}}
                                </ng-container>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="char.milestones[mileStoneName.key]==null">
                          N/A
                        </ng-container>
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="player.characters.length>=1 && player.characters[0].clanMilestones!=null">
                    <td class="lead" matTooltip="Shared clan rewards, one per account">Clan Milestones</td>
                    <td [attr.colspan]="player.characters.length">

                      <div class="clanMsRow">

                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.nightfall==true">
                          Nightfall
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.nightfall==false">
                          Nightfall
                          <i class="fa fa-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.raid==true">
                          Raid
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.raid==false">
                          Raid
                          <i class="fa fa-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.crucible==true">
                          Crucible
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.crucible==false">
                          Crucible
                          <i class="fa fa-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.trials==true">
                          Trials
                          <i class="accent-text mat-option.mat-selected fa fa-check-square-o"></i>
                        </span>
                        <span class="clanMs" *ngIf="player.characters[0].clanMilestones.trials==false">
                          Trials
                          <i class="fa fa-square-o"></i>
                        </span>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </ng-container>

          </mat-tab>
          <mat-tab label="Progress">
            <ng-container *ngIf="player!=null">

              <mat-tab-group>
                <mat-tab [label]="char.className+' - '+char.light" *ngFor="let char of player.characters">

                  <div *ngIf="char.factions==null || char.factions.length==0">
                    <br>
                    <h1>Privacy</h1>
                    <h4>This user has blocked access to this information via their Bungie.net privacy settings.</h4>
                  </div>

                  <table class="responsive-table" *ngIf="char.factions!=null && char.factions.length>0">
                    <thead>
                      <tr>
                        <th scope="col">Faction</th>
                        <th scope="col">Progress</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let faction of char.factions">
                        <td class="lead" data-label="">

                          <a href="https://vendorengrams.xyz" target="_blank" rel="noopener" matTooltip="Vendor has 330LL engrams. See vendorengrams.xyz for more info!"
                            *ngIf="faction.xyz300">
                            <i class="warn-text fa fa-diamond fa-2x"></i>
                          </a>
                          <span [matTooltip]="faction.desc">{{faction.name}}</span>


                          <span class="light">Level {{faction.level}} </span>
                          <span matTooltip="You have enough tokens to rank up with this vendor and get an engram">
                            <i *ngIf="faction.tokensHeld!=null && faction.tokensHeld>faction.tokensNeeded" class="accent-text fa fa-thumbs-up fa-2x"></i>
                          </span>

                          <span class="caption">{{faction.info}}</span>

                        </td>
                        <td data-label="">

                          <ng-container *ngIf="faction.tokensHeld!=null">{{faction.tokensHeld}} / {{faction.tokensNeeded}} tokens needed TNL</ng-container>
                          <ng-container *ngIf="faction.tokensHeld==null">Tokens Needed TNL {{faction.tokensNeeded}} </ng-container>

                          <br/> {{faction.percentToNextLevel|percent:'1.0-0'}} to level {{faction.level+1}}
                          <div>
                            <mat-progress-bar color="accent" mode="determinate" [value]="faction.percentToNextLevel*100">
                            </mat-progress-bar>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <br>


                </mat-tab>
              </mat-tab-group>

            </ng-container>

          </mat-tab>
          <mat-tab label="Chars">

            <ng-container *ngIf="player!=null">

              <mat-card class="char-card" *ngFor="let char of player.characters">
                <mat-card-header>
                  <div mat-card-avatar *ngIf="char.emblemPath!=null" class="player-header-image" [style.background-image]="'url(//www.bungie.net' + char.emblemPath + ')'"></div>
                  <mat-card-title>{{char.className}} - {{char.race}} {{char.gender}} &ensp;
                    <span style="white-space:nowrap;">Light {{char.light}}</span>
                    <ng-container *ngIf="char.wellRested">WELL RESTED!</ng-container>
                  </mat-card-title>
                  <mat-card-subtitle *ngIf="!player.superprivate">
                    Last played {{today| amDifference:char.dateLastPlayed| amDuration:'ms'}} ago, for {{char.minutesPlayedThisSession}} mins
                    <br> Total time played: {{ char.minutesPlayedTotal*60 | amDuration:'seconds' }} | {{char.minutesPlayedTotal/60|
                    number : '1.0-0'}} hours | {{char.minutesPlayedTotal}} mins
                    <br>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                  <div *ngIf="char.baseCharacterLevel<20">Level {{char.baseCharacterLevel}} &ensp; {{char.percentToNextLevel|percent:'1.0-0'}} to next level
                    <mat-progress-bar color="accent" mode="determinate" [value]="char.percentToNextLevel*100">
                    </mat-progress-bar>
                  </div>

                  <div *ngIf="char.legendProgression!=null && char.baseCharacterLevel>=20">
                    <b>Level 20</b> &ensp; Legend Level {{char.legendProgression.level}} &ensp; {{char.legendProgression.percentToNextLevel|percent:'1.0-0'}}
                    to level {{char.legendProgression.level+1}}
                    <mat-progress-bar color="accent" mode="determinate" [value]="char.legendProgression.percentToNextLevel*100">
                    </mat-progress-bar>
                  </div>
                  <br>

                  <div class="stat-chip-list">
                    <ng-container *ngFor="let stat of char.stats; let i=index">
                      <span class="mat-chip stat-chip" *ngIf="stat.name!=null" [matTooltip]="stat.desc">{{stat.name}}: {{stat.value}}</span>
                    </ng-container>
                  </div>

                </mat-card-content>
                <mat-card-actions>
                  <a mat-button (click)="history(char)">
                    <mat-icon>history</mat-icon> Activity History</a>
                </mat-card-actions>

              </mat-card>
            </ng-container>

          </mat-tab>

          <!-- <mat-tab label="Gear">

            <ng-container *ngIf="player!=null">
              <anms-gear [gear]="player.gear"></anms-gear>
            </ng-container>

          </mat-tab> -->
        </mat-tab-group>
        * 330LL vendor info provided by
        <a href="https://vendorengrams.xyz/" target="_blank" rel="noopener">vendorengrams.xyz</a>. Go there and vote!
      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>