@import 'styles-variables';

:host {
}

.clanMs{
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.light{
  font-weight: lighter;
  margin-left: 10px;
}

.rankupContainer{
  display: inline-block;
}

.rankupRow{
  display: block;
  margin-bottom: 15px;
  line-height: 2.5;
}

.mobile-header{
  opacity: .8;
}

.rankup{
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  //font-size: larger;
  border-radius: 24px;
  //border: 5px solid red;
  margin-left: 10px;
}

a.underline:link {
  text-decoration: underline;
}

.check{
  font-size: large;
  //font-weight: bolder;
}

.clanMsRow{
  text-align: left;
}

.lifetime{
  font-size: small;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
  max-width: 125px;
}

.trophy{
  opacity: 0.7;
}

.percent{
  font-size: smaller;
  font-weight: lighter;
}

.mat-select{
      margin-top: -7px;
 }
  
 .ll{
   float: right;
 }

.stat-chip-list{
  max-width: 500px;
}
.stat-chip{
  padding: 5px;
  border-radius: 12px;
  margin-bottom: 5px !important;
  display: inline-block;
}

.coming-soon-note{
  font-size: smaller;
  font-weight: lighter;
}

.char-card{
  margin-bottom: 10px;
  text-align: left;
}

.button-row {
  & button{  
    margin-bottom: 10px;
  }
}

.body-text {
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  font-size: 0.9em;
  letter-spacing: .01px;
  overflow-wrap: break-word;
  z-index: 1;
}

.player-header-image {
  background-size: cover;
}

.searchRow{
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.searchField{
  margin-bottom: 10px;
}

.searchPlatform{
  width: 75px;
  margin-right: 10px;
}

.searchGt{
  width: 125px;
  margin-right: 10px;
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .body-text {
      width: auto;
    }
}

@media (max-width: map-get($grid-breakpoints, sm)) {


  .body-text {
    width: auto;
  }
}

.mat-chip{
  margin-bottom: 5px;
}

.notes{
  text-align: left; 
  max-width: 500px;
}

