.item-icon{
    //  width: 19px;
    //  height: 19px;
    width: 64px;
    height: 64px;
  
    background-size: cover;
    display: inline-block;
  }
  
.searchRow{
  display: block;
}

.socket{
  margin-bottom: 5px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}  

.text-muted{

}

.active{
  font-weight: bold;
}