<div class="holder">
  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div routerLink="" class="branding">
        <img [src]="logo" />
        <span>D2 Checklist</span>
      </div>
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.close();myProfile()" *ngIf="this.signedOnUser!=null && this.signedOnUser.selectedUser!=null">
          {{this.signedOnUser.selectedUser.displayName}} - {{this.signedOnUser.selectedUser.platformName}}
        </a>
        <a mat-list-item (click)="sidenav.close();loadClan(this.signedOnUser.membership.clans[0])" *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.clans!=null && this.signedOnUser.membership.clans.length==1">
          My Clan
        </a>
        <ng-container *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.clans!=null && this.signedOnUser.membership.clans.length>1">
          <a *ngFor="let clan of this.signedOnUser.membership.clans" mat-list-item (click)="sidenav.close();loadClan(clan)">
            {{clan.name}}
          </a>
        </ng-container>
        <a mat-list-item (click)="sidenav.close();myProfile()" *ngIf="this.signedOnUser!=null">
          My Info
        </a>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">

      <mat-toolbar color="primary">

        <button mat-icon-button class="hidden-md-up" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span routerLink="" class="branding spacer hidden-md-up text-center">
          <img [src]="logo" /> D2 Checklist</span>
        <span routerLink="" class="branding spacer hidden-sm-down">
          <img [src]="logo" /> D2 Checklist</span>

        <span class="hidden-sm-down">
          <button mat-button class="nav-button" routerLink="home" routerLinkActive="active">Home</button>
          <button mat-button class="nav-button" routerLink="leaderboard/leviathan" routerLinkActive="active">Leviathan
            <span class="hidden-lg-down"> Leaderboard</span>
            <span class="hidden-xl-up"> LB</span>
          </button>
          <button mat-button class="nav-button" routerLink="leaderboard/leviathan-prestige" routerLinkActive="active">Prestige
            <span class="hidden-lg-down"> Leaderboard</span>
            <span class="hidden-xl-up"> LB</span>
          </button>
          <button mat-button class="nav-button" routerLink="search" routerLinkActive="active">
            <mat-icon>search</mat-icon>
            <span class="hidden-lg-down"> Search Users</span>
          </button>
          <button mat-button class="nav-button" routerLink="about" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            <span class="hidden-lg-down"> About</span>
          </button>
        </span>

        <button mat-button class="sign-in-button" *ngIf="signedOnUser==null && !loggingOn" matTooltip="Grants access to private endpoints and some bugged public data too"
          matTooltipPosition="before" (click)="onLoginClick()">
          Sign in
        </button>

        <button *ngIf="signedOnUser!=null && this.signedOnUser.selectedUser!=null" mat-button [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon *ngIf="this.signedOnUser.membership.destinyMemberships.length==1">person</mat-icon>
          <mat-icon *ngIf="this.signedOnUser.membership.destinyMemberships.length>1">supervisor_account</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <ng-container *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.destinyMemberships.length>1">
            <button mat-menu-item *ngFor="let avail of this.signedOnUser.membership.destinyMemberships" [disabled]="avail == this.signedOnUser.selectedUser"
              (click)="selectUser(avail)">
              <mat-icon>account_circle</mat-icon>
              <span>{{avail.platformName}}</span>
            </button>
          </ng-container>

          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

        <button mat-icon-button routerLink="settings" class="hidden-sm-down">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-toolbar-row *ngIf="this.signedOnUser!=null" class="sub-row">
          <span class="hidden-sm-down" *ngIf="this.signedOnUser.selectedUser!=null">{{this.signedOnUser.selectedUser.displayName}} - {{this.signedOnUser.selectedUser.platformName}}</span>
          <span class="spacer"></span>

          <span *ngIf="this.signedOnUser.selectedUserCurrencies==null" (click)="refreshCurrency()">
            Refresh currency
          </span>

          <ng-container *ngIf="this.signedOnUser.selectedUserCurrencies!=null">
            <span class="currency-icons" (click)="refreshCurrency()">
              <ng-container *ngFor="let c of this.signedOnUser.selectedUserCurrencies">
                <span class="currency-chip" [matTooltip]="c.count+' '+c.name">
                  <span class="currency-icon" [style.background-image]="'url(//www.bungie.net' + c.icon + ')'"></span>
                  <span> {{c.count|number}}</span>
                </span>
              </ng-container>
            </span>

          </ng-container>

          <button mat-button class="hidden-sm-down nav-button" (click)="loadClan(this.signedOnUser.membership.clans[0])" *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.clans!=null && this.signedOnUser.membership.clans.length==1">
            <mat-icon>flag</mat-icon> My Clan
          </button>
          <ng-container *ngIf="this.signedOnUser!=null && this.signedOnUser.membership.clans!=null && this.signedOnUser.membership.clans.length>1">
            <button mat-button [matMenuTriggerFor]="toolbarClanMenu">
                <mat-icon>flag</mat-icon> My Clans
            </button>
            <mat-menu #toolbarClanMenu="matMenu">
              <button mat-menu-item (click)="loadClan(clan)" *ngFor="let clan of this.signedOnUser.membership.clans" >
                <span>{{clan.name}}</span>
              </button>
            </mat-menu>
            
          </ng-container>

          <button mat-button class="hidden-sm-down nav-button" (click)="myProfile()" *ngIf="this.signedOnUser!=null">
            <mat-icon>favorite</mat-icon> My Info
          </button>


        </mat-toolbar-row>
      </mat-toolbar>

      <router-outlet #o="outlet"></router-outlet>
      <div class="push"></div>


    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.reddit.com/r/destinychecklistnet" target="_blank">
            <i class="fa fa-reddit fa-2x" aria-hidden="true"></i>
            <span>Reddit</span>
          </a>
          <a href="https://bitbucket.org/dcaslin/d2-checklist/" target="_blank">
            <i class="fa fa-bitbucket fa-2x" aria-hidden="true"></i>
            <span>Source</span>
          </a>
          <a href="https://twitter.com/DestinyChecklst" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>

          <a matTooltip="destinychecklistnet at gmail.com" matTooltipPosition="above">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            <span>Email</span>
          </a>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS" target="_blank">
            <i class="fa fa-paypal fa-2x" aria-hidden="true"></i>
            <span>Donate</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - Destiny Checklist |
          <a href="https://www.destinychecklist.net/privacy">Privacy Policy </a> | Not affiliated with Bungie

        </div>
      </div>
    </div>

  </mat-sidenav-container>
</div>