@import 'styles-variables';

$footer-height: 160px;

.holder{
  height: 100%;
}

.sub-row{
   font-size: smaller;
   height: 40px;
}
.currency-icons{
  margin-right: 10px;
  margin-left: 10px;

}
.currency-icon{
  //  width: 19px;
  //  height: 19px;
  width: 24px;
  height: 24px;

  background-size: cover;
  display: inline-block;
}

.currency-chip{
  margin-left: 10px;
}

mat-sidenav-container {
  height: 100%;

  mat-toolbar {
    z-index: 1;

    .nav-button {
      margin: 0 10px 0 0;
    }

    .branding {
      cursor: pointer;
    }

    .sign-in-button {
      line-height: 35px;
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
      .sign-in-button {
        min-width: 0;
        padding: 0 10px;
        margin: 0 5px 0 0;
      }
    }
  }
}


mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      margin: 0 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}


.wrapper {
  z-index: -2;
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.footer, .push{
  height: $footer-height;
}

.footer {
  padding: 0 15px;
  text-align: center;
  z-index: 1;

  .row {
    padding: 10px 0;

    .links {
      a {
        transition: padding 0.5s;
        display: inline-block;
        padding: 20px 5px;

        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          width: 70px;
          padding: 0 0 0 5px;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          transition: width 0.5s;
        }
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        a {
          padding: 20px;

          span {
            width: 0;
            padding: 0;
          }
        }
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        a {
          padding: 20px 5px;
        }
      }
    }
  }
}
