@import 'styles-variables';

:host {
}

.searchField{
  width: 100px;
  margin-bottom: 10px;
}

a:link {
  text-decoration: underline;
}

.body-text {
  width: auto;
  margin-left: auto; 
  margin-right: auto; 
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.button-row {
  & button{  
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
