<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <h1>Settings</h1>
      <br>
      <div>
        <mat-form-field class="col-md-6">
          <mat-select placeholder="Select theme" name="theme" [ngModel]="theme" (change)="onThemeSelect($event)">
            <mat-option *ngFor="let t of themes" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <mat-select placeholder="Ad Options" name="disableads" [ngModel]="disableads" (change)="onDisableAdsSelect($event)">
            <mat-option *ngFor="let t of adChoices" [value]="t.value">
              {{t.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>

      <p class="note" *ngIf="disableads===true">
        You've disabled ads. If you end up finding this site or any of the other DestinyChecklist sites helpful, please consider
        making a donation with the link below:
        <br>
        <br>
        <a mat-raised-button color="accent" [ngClass]="animateOnRouteEnter" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS">
          <i class="fa fa-paypal"></i> Donate
        </a>
      </p>
    </div>

    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7629384993" display="block"></ng-adsense>
  </div>

</div>