<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <h1>Auth</h1>
      <p *ngIf="msg!=null">{{msg}}</p>
    </div>
  </div>
</div>