<div class="childComponent">
  <div class="childVert">
    <div class="main">
      <mat-spinner class="loading" class="center-spinner" *ngIf="loading===true"></mat-spinner>
      <div class="body-text" [ngClass]="animateOnRouteEnter">
        <br/>
        <div class="centerMe">
          <mat-form-field class="searchField searchPlatform">
            <mat-select [(ngModel)]="selectedPlatform" placeholder="Platform" (change)="onPlatformChange()">
              <mat-option *ngFor="let p of platforms" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="searchField searchGt" class="gt">
            <input matInput placeholder="Gamer tag" [(ngModel)]="gamerTag" (keyup.enter)="routeSearch()" (change)="onGtChange()">
          </mat-form-field>
          <button mat-mini-fab color="primary searchField" (click)="routeSearch()" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <div class="info">

          <mat-card *ngIf="nightfall!=null">
            <mat-card-header>
              <div mat-card-avatar class="nf-card-avatar" [style.background-image]="'url(//www.bungie.net' + nightfall.image + ')'"></div>
              <mat-card-title>
                <h2>{{nightfall.name}}</h2>
              </mat-card-title>
              <mat-card-subtitle class="hidden-sm-down">{{nightfall.desc}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h4>Modifiers</h4>

              <ul>
                <li *ngFor="let m of nightfall.modifiers">
                  <b>{{m.name}}</b>&emsp;{{m.desc}}</li>
              </ul>
              <h4>Challenges</h4>
              <ul>
                <li *ngFor="let m of nightfall.challenges">
                  <b>{{m.name}}</b>&emsp;{{m.desc}}</li>
              </ul>
            </mat-card-content>
          </mat-card>

          <!-- <mat-card>
            <mat-card-header>
              <mat-card-title><h2>Site news</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h4>New features</h4>
              <ul>
                <li>Clan leaderboards</li>
                <li>Improved access to character activity</li>
                <li><a href="http://www.d2checklist.com/leaderboard/leviathan">Raid leaderboard!</a></li>
                <li><span class="warn-text">Note: There are problems with reporting weekly raid completions from Bungie. I've worked around this on the individual player page, but the clan page may report incorrectly.</span></li>
                <li><a href="https://www.d2checklist.com/2/sc_Slayerage">Improved checklist and progressions</a></li>
                <li><a href="https://www.d2checklist.com/search">Search Bungie users with wildcards</a></li>
                <li>View activity history. Click the link for a character from <a href="http://www.d2checklist.com/2/sc_slayerage/chars">the char tab</a></li>
                <li>View your clan's progress and info. Sign in and click "My Clan". <a href="https://www.d2checklist.com/clan/1985678">Here's my clan, for example.</a></li>
                <li>View currencies for current on account, including legendary shards. Sign in and view menu on top right.</li>
              </ul>
            </mat-card-content>
          </mat-card> -->

        </div>
      </div>
    </div>
    <div *ngIf="disableads===false" class="adRight">
      <small class="adText">Advertisement</small>
      <ng-adsense adFormat="vertical"></ng-adsense>
    </div>

  </div>
  <div *ngIf="disableads===false" class="adBottom">
    <small class="adText">Advertisement</small>
    <ng-adsense adSlot="7909243132" display="inline-block" width="336" height="280"></ng-adsense>
  </div>
</div>