@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';

@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'default-theme.scss';
@import 'light-theme.scss';
@import 'black-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
}

.break-easy{
  word-break: break-all;
}

.center-spinner {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; /* Need a specific value to work */
}

.data-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}
// .mat-header-row, .mat-row{
//   padding: 5px !important;
// }

.mat-paginator-page-size-select {
  width: 56px !important;
}

.mat-tab-label{
  padding-left: 12px !important;
  padding-right: 12px  !important;
}

.mat-table {
  display: table;

  > .mat-header-row, > .mat-row {
    display: table-row;
    padding: 5px;
    border: none;

    > .mat-header-cell, > .mat-cell {
      display: table-cell;
      height: 48px;
      padding: 5px;
      //width: 150px;
      text-align: left;
      vertical-align: middle;

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.centerMe{
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
}


.childComponent{
  height: 100%;
  flex: 1 0 auto;

  
  display: flex;
  flex-direction: column;
  // background-color: purple;
}

.childVert{
  order: 1;
  flex: 1 1 auto;

  display: inline-flex;
  flex-direction: row;
  // background-color: yellow;
}

.adRight{
  order: 2;
  width: 300px;
  min-height: 300px;
  flex-grow: 0;
  // background-color: red;
}

.main{
  order: 1;
  height: 100%;
  padding: 20px;
  
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  // background-color: green;
}


.adText {
  opacity: 0.5;
  text-align: center;
}


.mobile-button-row {
  display: none;
  visibility: hidden;
}


@media screen and (max-width: 600px) {
  .mobile-button-row {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
  }
}


.adBottom{
  order: 2;
  display: none;
  visibility: hidden;
  text-align: center;
  //background-color: pink;
}

@media (max-width: 1279px) {
  .adRight {
      width: 120px;
  }
}



@media (max-width: 960px) {
  .adRight {
      display: none;
      visibility: hidden;
  }
  
  .main{
    padding: 5px;
  }
    
  .adBottom{
    min-width: 336px;
    //background-color: pink;
    display: block;
    visibility: visible;
    height: 300px;
  }

}